body{
    background-color: lightblue;
}

.parrafo1{
    color: navy;
    font-weight: bold;
}

.parrafo2{
    text-transform: uppercase;
    text-align: justify;
}

.parrafo3{
    font-size: 12px;
}

.italic-text{
    font-style: italic;
}

h2{
    text-decoration: underline;
}